# Dependencias
node_modules/
**/node_modules/

# Variables de Entorno (CRÍTICO)
.env
**.env

# Archivos temporales y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Carpetas de subida temporales
server/uploads/

# Archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build de frontend
client/dist/
client/build/
